<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klappstuhlverein - Seite nicht gefunden</title>

    <!-- Link CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">


    <link rel="shortcut icon" href="/favico/favicon.ico" type="image/x-icon">
</head>

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container text-center">
        <a class="navbar-brand me-auto" href="/">
            <img src="/favico/favicon.ico" width="33" height="33" alt="">
            Klappstuhlverein
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/regelwerk">Regelwerk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://sillysoon.de:3001/status/klappstuhlverein">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.com/invite/BKu66sXPGr">Discord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://klappstuhlverein.cmod.app/">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <div class="p-5 mb-4 rounded-3">
            <div class="container-fluid py-5 text-center">
                <h1 class="fs-1">Error 404 - Seite nicht gefunden</h1>
                <a class="fs-4" href="/">Zurück zur Startseite</a>
            </div>
        </div>
    </div>
</div>

<!-- Link to Bootstrap JavaScript file -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>