<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klappstuhlverein - Regelwerk</title>

    <!-- Link CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">


    <link rel="shortcut icon" href="/favico/favicon.ico" type="image/x-icon">
</head>

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-dark theme-primary mb-3">
    <div class="container text-center">
        <a class="navbar-brand me-auto" href="/">
            <img src="/favico/favicon.ico" width="33" height="33" alt="">
            Klappstuhlverein
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/regelwerk">Regelwerk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://klappstuhlverein.de:3001/status/klappstuhlverein" target="_blank">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.com/invite/BKu66sXPGr" target="_blank">Discord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://klappstuhlverein.cmod.app/" target="_blank">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Jumbotron TODO: Fix § ä ü ö -->
<div class="jumbotron">
    <div class="container py-5">
        <h1 class="display-4 text-center mb-4">Klappstuhlverein Regelwerk</h1>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item theme-primary">&sect;1 habt Spa&szlig;!</li>
                    <li class="list-group-item theme-primary">&sect;2 Verhalte dich bitte respektvoll gegen&uuml;ber anderen Spielern oder Team Mitgliedern!</li>
                    <li class="list-group-item theme-primary">&sect;3 Keine rassistischen, diskriminierenden oder beleidigende Parolen im Sprachchat, Teamchat oder in der Intercom!</li>
                    <li class="list-group-item theme-primary">&sect;4 Kurze Sounds via Soundboards sind erlaubt!
                        <ul>
                            <li>&sect;4.1 Das Spammen von Sounds ist nicht erlaubt.</li>
                            <li>&sect;4.2 Die Sounds d&uuml;rfen nicht zu Lange sein damit man nicht andere Mitspieler nervt!</li>
                            <li>&sect;4.3 Keine Copyright gesch&uuml;tzte Lieder oder Sounds neben Streamer abspielen.</li>
                            <li>&sect;4.4 Sounds sind nicht im Todeschat (Spectator), in Funkger&auml;ten oder in der Lobby erlaubt.</li>
                            <li>&sect;4.5 Errape Sounds sind nicht erlaubt!</li>
                        </ul>
                    </li>
                    <li class="list-group-item theme-primary">&sect;5 Das Teamen mit anderen Fraktionen ist nicht erlaubt. (Mehr infos im "Teams" Teil)</li>
                    <li class="list-group-item theme-primary">&sect;6 Das T&ouml;ten von gefesselten Spielern ist verboten. (Team-killing)
                        <ul>
                            <li>&sect;6.1 Auch das entfesseln und instant t&ouml;ten der Spieler ist verboten.</li>
                        </ul>
                    </li>
                    <li class="list-group-item theme-primary">&sect;7 Gefesselte D-Bois m&uuml;ssen alle Befehle der MTF, egal ob Kadett oder Guard, befolgen.
                        <ul>
                            <li>&sect;7.1 Wenn die Befehle nicht eingehalten werden darf die MTF den D-Boi t&ouml;ten, auch wenn dieser gefesselt ist.</li>
                        </ul>
                    </li>
                    <li class="list-group-item theme-primary">&sect;8 das Stehlen von Items von anderen Spielern ist nicht erlaubt. Gilt nicht, wenn der Spieler gestorben ist (Nicht Teamgekillt)</li>
                    <li class="list-group-item theme-primary">&sect;9 Camping ist verboten! (Camping gilt wenn man l&auml;nger als 2 Minuten an einer Stelle bleibt. Z.B. vor 914 als SCP)</li>
                    <li class="list-group-item theme-primary">&sect;10 Kein Ghosting im Spectator Mode! (Das bedeutet als toter keinem lebenden verraten, wo sich andere Spieler befinden)</li>
                    <li class="list-group-item theme-primary">&sect;11 das Verwenden von Positionen, an die SCP's nicht herankommen, ist untersagt.</li>
                    <li class="list-group-item theme-primary">&sect;12 keine Werbung f&uuml;r andere oder eigene Server.</li>
                    <li class="list-group-item theme-primary">&sect;13 Rollenflucht ist verboten, egal welche Fraktion. (Rollenflucht ist, wenn man sich vors&auml;tzlich umbringt nur, weil man die Rolle nicht Spielen will)</li>
                    <li class="list-group-item theme-primary">&sect;14 Teamkilling und Teamtrolling  ist untersagt.
                        <ul>
                            <li>&sect;14.1 Teamkilling gilt nicht, wenn du bei jemanden vor die Waffe l&auml;uft, wenn dieser auf eine andere Fraktion zielt.</li>
                            <li>&sect;14.2 Die Person nur Melden, wenn diese gezielt dich get&ouml;tet hat oder mehrere auf einmal t&ouml;tet.</li>
                            <li>&sect;14.2.1 Wenn du jemanden wegen Teamkilling meldest gib bitte einen guten Grund ein. Nur Teamkilling hilft nicht</li>
                            <li>&sect;14.2.2 Das Missbrauchen das Meldungssystem kann Konsequenzen haben.</li>
                        </ul>
                    </li>
                    <li class="list-group-item theme-primary">&sect;15 Spawnkilling bzw Spawncamping ist untersagt.</li>
                    <li class="list-group-item theme-primary">&sect;16 Anweisungen von Supportern, Moderatoren und Administratoren ist unverz&uuml;glich Folge zu leisten.</li>
                </ul>
                <small class="my-3 align-self-center">Die regeln k&ouml;nnen jederzeit ge&auml;ndert werden! Ihr akzeptiert diese mit dem Beitritt des Servers!</small>
            </div>
        </div>
    </div>
</div>

<!-- Link to Bootstrap JavaScript file -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>